/* Here is your custom css styles. */
@font-face{
    font-family: 'SourceHanSansCN-Light-2';
    src: url('../diy-font/SourceHanSansCN-Light-2.otf');   
}

body {
    font-family: 'SourceHanSansCN-Light-2';
}
